{% extends "qdiff/base.html" %}
{% load staticfiles %}
{% block sidebar %}
{% endblock %}
{% block topbar %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}
    <div class="card">
        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Database Config Form</h3>
        <div class="card-body">
            <div id="table" class="table-editable">
                <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a></span>
                {% csrf_token %}
                <table class="table table-bordered table-responsive-md table-striped text-center">
                    <tr>
                        <th class="text-center">Parameter Name</th>
                        <th class="text-center">Value</th>
                        <th class="text-center">Remove</th>
                    </tr>
                    <tr class="data">
                        <td class="pt-3-half" contenteditable="true">Aurelia Vega</td>
                        <td class="pt-3-half" contenteditable="true">Madrid</td>
                        <td>
                            <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                        </td>
                    </tr>
                </table>
            </div>
            <button class="btn btn-primary btn-block submitBtn" onclick="
                var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
                var data = {};
                $('tr.data').each(
                    function(index, value){data[$(this).children()[0].textContent] = $(this).children()[1].textContent;});
                data['csrfmiddlewaretoken'] = CSRFtoken;
                console.log(data);
                $.post('{% url 'create_config_file' %}', data);
        ">Submit</button>
        </div>
    </div>
    <script type="text/javascript">
        function post_config() {
            var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
            var data = {};
            $("tr.data").each(
                function(index, value){data[$(this).children()[0].textContent] = $(this).children();});
            data['csrfmiddlewaretoken'] = CSRFtoken;
            console.log(data);
            $.post("{% url 'create_config_file' %}", data);
        };
        // $('button.submitBtn').click(post_config);
    </script>
    <script src="{% static 'qdiff/js/configTable.js' %}"></script>
{% endblock %}
{% block footer %}
{% endblock %}
